* { margin: 0; padding: 0; box-sizing: border-box; }
#container {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.star-wrapper {
    position: absolute;
    width: 530px;
    height: 530px;
    top: 50%;
    left: 50%;

    transform: translate(-110%, -70%) scale(0.5); 
    
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    
    stroke: rgb(255, 255, 255);
    fill: none;
    stroke-dashoffset: 0;
    stroke-dasharray: 1775;
}
.ico {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);

    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    
    opacity: 0;
}

.text-back {
    z-index: 1;
    margin-left: 5px; 
    margin-top: 5px; 
}
.text-back g {
    stroke: #ffffff !important;
    stroke-width: 10px;
}

button.btn {
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: #fff;
    border-bottom: 10px solid #fff;
    text-transform: uppercase;
    cursor: pointer;


    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}